<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit pokemon</title>
    <link rel="stylesheet" href="/edit.css">
</head>
<body>
    <div class="edit-container">
        <div class="edit-card">
            <h1><%= pokemon.name %></h1>
            <form action="/edit/<%=pokemon._id%>?_method=PUT" method="POST">
                Name: <input type="text" name="name" value="<%=pokemon.name  %>"/><br/>
                Type: <input type="text" name="type" value="<%=pokemon.type[0] %>"/>
                <input type="text" name="type" value="<%=pokemon.type[1] %>"/><br/>
                Image: <input type="text" name="img" value="<%=pokemon.img%>"><br/>
                HP: <input type="text" name="stats.hp" value="<%= pokemon.stats.hp %>"><br/>
                ATK: <input type="text" name="stats.attack" value="<%= pokemon.stats.attack %>"><br/>
                DEF: <input type="text" name="stats.defense" value="<%= pokemon.stats.defense %>"><br/>
                SPD: <input type="text" name="stats.speed" value="<%= pokemon.stats.speed %>"><br/>
                <input class="update-btn" type="submit" value="Submit Update">
            </form>
            <a class="update-btn" href="/">Back to Pokedex</a>
        </div>
    </div>
</body>
</html>
